:root{
  --primary: #2A7AE4;
  --black: #080808;
  --lighterBlack: #585858;
  --lighterGrey: #e2e2e2;
  --mediumGrey: #999999;
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;      
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 120%;
}

body, #root{
  background: var(--black);
  height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  cursor: pointer;
  border-radius: 2px;
  border: 0;
}

a{
  color: inherit;
}
